---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";

const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts);
const recentPosts = sortedPosts.slice(0, 3);
---

<Layout>
  <Header />
  <main id="main-content" class="app-layout">
    
    <section id="hero" class="border-b border-border py-8 sm:py-12">
      <h1 class="max-w-3xl text-lg font-medium italic sm:text-xl text-foreground/70 leading-relaxed">
        "La verdadera innovación es artesanal y surge en esa amalgama de grises."
      </h1>
    </section>

    {
      recentPosts.length > 0 && (
        <section id="posts-list" class="py-6">
          <ul class="divide-y divide-border/50">
            {recentPosts.map(data => (
              <li class="py-4">
                <Card variant="h3" {...data} />
              </li>
            ))}
          </ul>
        </section>
      )
    }

  </main>
  <Footer />
</Layout>
