---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
/* He quitado la importación de Datetime para limpiar el código */

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description } = data;
---

<li class="my-6">
  <a
    href={getPath(id, filePath)}
    class:list={[
      "inline-block text-lg font-medium",
      "text-accent", 
      "decoration-1 decoration-dashed underline-offset-4 hover:underline", /* LÍNEA FINA Y CON AIRE */
      "focus-visible:no-underline focus-visible:underline-offset-0",
      "transition-all duration-200"
    ]}
  >
    <Heading
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
  </a>
  
  {/* La fecha (Datetime) ha sido eliminada de aquí por diseño artesanal */}
  
  <p class="text-foreground/70 mt-1">{description}</p>
</li>
